[Dd]ebug*/
[Rr]elease*/
[Bb]in*/
[Oo]bj/
[Ss]ql/
*.suo
*.sln.cache
_ReSharper*/
*.user
*.InstallLog
*.gpState
*.swp
*.sln.metaproj*
_GeneratedProduct.wxi
*.log
out/
drop/
Drops/
*.lastpatched
*.docstates
*.metaproj